// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.pmd-icon {
  max-height: 2em;
  max-width: 3em;
}

.title .toolbar-title {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-size: 1.5rem;
  overflow: visible;
}

.header .toolbar {
  height: 4em;
}

.header .welcome {
  height: 12em;
}

.title-icon,
.title-text {
  flex: 1 1 auto;
}

.title-icon {
  margin: 0 0.25rem;
}

.button {
  border-radius: 24px;
  border: thin solid #b4b4b4;
}

.button .button-inner::after {
  content: ">";
  padding-left: 1em;
}

.content-md,
.button-md {
  color: #74bdb4;;
}

.second-title .toolbar-title {
  justify-content: center;
}

.alternate-content {
  background: #ffffff;
  border: 1px solid #b4b4b4;
}

.item .labeltext {
  color: #747474;
  font-size: 1.5rem;
  text-align: center;
}

.item.item-block .item-inner {
  border-bottom: 1px solid #cecece;
}

.item .input-wrapper {
  overflow: visible;
}

.spinner-crescent circle {
  stroke: #000000;
}

.welcome-grid a, .content a {
  color: #4a4a4a;
}
