<ion-header>
  <ion-toolbar>
    <div class="pmd-toolbar">
      <div>
        <h1 class="title-white">PEOPLE MAKING A DIFFERENCE®</h1>
      </div>
    </div>
  </ion-toolbar>
  <ion-toolbar>
    <div class="pmd-toolbar">
      <div>
        <h1 class="second-title">Check Out</h1>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center>
  <ion-grid class="main-grid">
    <ion-item>
      <ion-label stacked class="labeltext"><small>Please enter the exit event ID #:</small></ion-label>
      <ion-input type="text" [(ngModel)]="exitId"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col justify-content-center>
        <ion-text>{{feedback}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col justify-content-center>
        <ion-button (click)="onCheckOutClick()">Check Out</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
