<div class="bowltitle">
    <h3 class="bowlname">Add Volunteer to Event Id {{bowlID}}</h3>
</div>
<div class="add-volunteer-feedback" *ngIf="showFeedback">
  <h3>{{feedback}}</h3>
  <button (click)="onReturnDashboardClick()">Return to the Dashboard</button>
  <p><br></p>
</div>

<div class="upload-form">
  <tr>
    <td>First Name:</td>
    <td><input type="text" #firstnameField (keyup)="onFirstNameChange(firstnameField.value)" /></td>
  </tr>
  <tr>
    <td>Last Name:</td>
    <td><input type="text" #lastnameField (keyup)="onLastNameChange(lastnameField.value)" /></td>
  </tr>
  <tr>
    <td>Email:</td>
    <td><input type="text" #emailField (keyup)="onEmailChange(emailField.value)" /></td>
  </tr>
  <tr>
    <td>Assignment:</td>
    <td><input type="text" #assignmentField (keyup)="onAssignmentChange(assignmentField.value)" /></td>
  </tr>
  <tr>
    <td>Location:</td>
    <td><input type="text" #locationField (keyup)="onLocationChange(locationField.value)" /></td>
  </tr>
  <tr>
    <td>Phone Number:</td>
    <td><input type="text" #phoneField (keyup)="onPhoneChange(phoneField.value)" /></td>
  </tr>
  <tr>
    <td></td>
    <td><button (click)="onSubmitClick()">Add Volunteer</button></td>
  </tr>
</div>