<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="title-icon">
        <img src="assets/icon/pmd_transparent.png" class="pmd-icon" />
      </div>
      <div class="title-text">
        People Making a Difference
      </div>
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-grid class="main-grid">
    <ion-row justify-content-center>
      <p>{{announcementMessage}}</p>
    </ion-row>
    <ion-row justify-content-center class="alternate-content" id="assignment-box">
      <p>Your assignment is:</p>
      <div id="assignment-details">
        <p><strong>Role: </strong>{{personAssignment}}</p>
        <p><strong>Room #: </strong>{{personLocation}}</p>
      </div>
    </ion-row>
    <ion-row justify-content-center>
      <p>Questions? Call Lori at: </p>
      <p><a href="tel:1-781-963-0373">+1 (781) 963 - 0373</a></p>
    </ion-row>
    <ion-row justify-content-center>
      <ion-button (click)="onDoneClick()">Done for the day?</ion-button>
    </ion-row>
<!--     <ion-row>
      <ion-button (click)="onDeleteUserClick()">(Debug Mode: Log Out)</ion-button>
    </ion-row>
    <ion-row>
      <ion-button (click)="onCheckoutReminded()">(Debug Mode: Check Out - Reminded)</ion-button>
    </ion-row> -->
  </ion-grid>
</ion-content>
