


.welcome-grid {
  padding: 0;
  justify-content: space-around;
  font-size: 1.25em;
}

.welcome-grid ion-row {
  padding: 2em;
  line-height: 1.5em;
  text-align: center;
}

.welcome-grid a {
  color: #747474;
}