.big-icon {
  display:  flex;
  flex-direction: column;
}

.big-icon > div {
  text-align: center;
}

.title-white {
  color: white;
  font-size: 2rem;
}

.welcome-grid {
  padding: 0;
  justify-content: space-around;
  background-color: #f5f4f4;
  font-size: 1.25em;
}

.welcome-grid ion-row {
  padding: 2em;
  line-height: 1.5em;
  text-align: center;
}

.welcome-grid a {
  color: #747474;
}